<h1>User Management</h1>
<ul class="main_list">
<% if authorized? hash_for_authenticated_system_people_path %>
	<li><%= link_to AuthenticatedSystem::Person.model_name.human(:count => :many).titleize.s, authenticated_system_people_path %></li>
<% end
   if authorized? hash_for_authenticated_system_permissions_path %>
	<li><%= link_to AuthenticatedSystem::Permission.model_name.human(:count => :many).titleize.s, authenticated_system_permissions_path %></li>
<% end
   if authorized? hash_for_authenticated_system_roles_path %>
	<li><%= link_to AuthenticatedSystem::Role.model_name.human(:count => :many).titleize.s, authenticated_system_roles_path %></li>
<% end %>
</ul>