<h1>User Management</h1>
<ul class="main_list">
<% path = authenticated_system_people_path
   if authorized? path %>
	<li><%= link_to AuthenticatedSystem::Person.model_name.human(:count => :many).titleize.s, path %></li>
<% end
   path = authenticated_system_permissions_path
   if authorized? path %>
	<li><%= link_to AuthenticatedSystem::Permission.model_name.human(:count => :many).titleize.s, path %></li>
<% end
   path = authenticated_system_roles_path
   if authorized? path %>
	<li><%= link_to AuthenticatedSystem::Role.model_name.human(:count => :many).titleize.s, path %></li>
<% end %>
</ul>