<%= render :partial => 'authenticated_system/people/show', :locals => {:person => @person} %>
<%= render :partial => 'show', :locals => {:user => @user} %>
<p>&nbsp;<br/>
<% path = edit_authenticated_system_person_user_path(@person)
   if authorized? path %>
<%=  link_to ts('edit.this'), path %> |
<% end %>
<%= render :partial => 'persistent_links' %>
</p>