<p>
<%= link_to ts('edit.this'), edit_authenticated_system_person_path(@person) %> |
<%= link_to ts('delete.this'), authenticated_system_person_path(@person), method: :delete, data: { confirm: te('delete.confirmation') } %> |
<%= link_to ts('back.this'), authenticated_system_people_path %>
</p>