<%= render :partial => 'show', :locals => {:person => @person} %>
<% user = @person.user
   if !user.nil? %>
<%=  render :partial => 'authenticated_system/users/show', :locals => {:user => user} %>
<% end %>
<p>&nbsp;<br/>
<% path = edit_authenticated_system_person_path(@person)
   if authorized? path %>
<%=  link_to ts('edit.record', :what => AuthenticatedSystem::Person.model_name.human), path %> |
<% end %>
<%= render :partial => 'persistent_links' %>
</p>